<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="it.airgap.beaconsdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Until `androidx.security:1.1.0` is production ready -->
    <uses-sdk tools:overrideLibrary="androidx.security" />

    <application>
        <provider
            android:name="it.airgap.beaconsdk.core.provider.BeaconInitProvider"
            android:authorities="${applicationId}.beaconinitprovider"
            android:exported="false" />
    </application>

</manifest>